<table class="footer">
  <tr>
    <td valign="top" class="cel1 bold"><%==I18n.t(:footer_row1_col1)%></td>
    <td valign="top" class="cel2 cell"><%==I18n.t(:footer_row1_col2)%></td>
    <td valign="top" class="cel3 bold"><%==I18n.t(:footer_row1_col3)%> </td>
    <td valign="top" class="cel4 cell"><%==I18n.t(:footer_row1_col4)%></td>
  </tr>
  <tr>
    <td valign="top" class="cel1 bold"><%==I18n.t(:footer_row2_col1)%></td>
    <td valign="top" class="cel2 cell"><%==I18n.t(:footer_row2_col2)%></td>
    <td valign="top" class="cel3 bold"><%==I18n.t(:footer_row2_col3)%> </td>
    <td valign="top" class="cel4 cell"><%==I18n.t(:footer_row2_col4)%></td>
  </tr>
  <tr>
    <td valign="top" class="cel1 bold"><%==I18n.t(:footer_row3_col1)%></td>
    <td valign="top" class="cel2 cell"><%==I18n.t(:footer_row3_col2)%></td>
    <td valign="top" class="cel3 bold"><%==I18n.t(:footer_row3_col3)%> </td>
    <td valign="top" class="cel4 cell"><%==I18n.t(:footer_row3_col4)%></td>
  </tr>
</table>
