<table class="line_items" >
  <tr>
    <td class="sku bold"><%= I18n.t(:sku) unless @receipt %></td>
    <td class="desc bold"><%= I18n.t(:item_description) %></td>
    <td class="price bold"><%=I18n.t(:price)  unless @packaging_slip or @receipt%></td>
    <td class="qty bold"><%=I18n.t(:qty) %> </td>
    <td class="total bold" align="right"><%=I18n.t(:total) unless @packaging_slip%></td>
  </tr>
  <% @order.line_items.each do |item| %>
  <tr>
    <td class="cell"><%=item.variant.product.sku unless @receipt%></td>
    <td class="cell"><%=item.variant.full_name%></td>
    <td class="cell"><%=number_to_currency(item.tax_price) unless @packaging_slip or @receipt%></td>
    <td class="cell"><%=item.quantity %></td>
    <td class="cell" align="right"><%=number_to_currency(item.tax_price * item.quantity) unless
     @packaging_slip%></td>
  </tr>
  <% end %>
</table>
  

